
body{
    font-family: 'Saira', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
i {
    margin-right: 10px;
}

a {
    text-decoration: none!important;
}

@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        /*background-color: #eee;*/
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}



.vip-box{
    background-color: #013220;
    color: white;
    padding: 30px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 3px solid #011910;
}

.pay-header{
    background-color: #011910;
    color: white;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}
.pay-body{
    background-color: whitesmoke;
    padding: 20px;
}
.pay-body img{
    max-height: 120px;
}


.pay-bottom{
    background-color: #013220;
    text-align: center;
    padding: 12px;
    margin-bottom: 15px;
}




.hori-selector{
    display:inline-block;
    position:absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration:0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
}
.hori-selector .right,
.hori-selector .left{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    bottom: 10px;
}
.hori-selector .right{
    right: -25px;
}
.hori-selector .left{
    left: -25px;
}
.hori-selector .right:before,
.hori-selector .left:before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #08202e;
}
.hori-selector .right:before{
    bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
    bottom: 0;
    left: -25px;
}

@media (max-width: 991px){
    #navbarSupportedContent ul li a{
        padding: 12px 30px;
    }
    .hori-selector{
        margin-top: 0px;
        margin-left: 10px;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }
    .hori-selector .left,
    .hori-selector .right{
        right: 10px;
    }
    .hori-selector .left{
        top: -25px;
        left: auto;
    }
    .hori-selector .right{
        bottom: -25px;
    }
    .hori-selector .left:before{
        left: -25px;
        top: -25px;
    }
    .hori-selector .right:before{
        bottom: -25px;
        left: -25px;
    }
}

.tips-table{
    font-family: 'Abel', sans-serif;
}

.vs-tag{
    font-weight: bold;
    color: red;
}

.title_holder{
    text-align: center;
    margin-top: 15px;
    background: #08202e;
    color: white;
    padding: 6px 6px;
    border-radius: 5px;
}

.result_box{
    background: #08202e;
    padding: 3px 8px;
    color: white;
}

.category_box{
    width: 100%;
    background: whitesmoke;
    display: flex;
    justify-content: center!important;
    align-items: center!important;
    padding: 30px;
    text-align: center;
    font-size: 22px;
    color: #08202e;
    border-radius: 3px;
    margin-bottom: 20px;
    min-height: 130px;
}

.category_box:hover{
    background-color: orange;
}

.title{
    text-align: center;
    border-bottom: 3px solid #152e3d;
    margin-bottom: 10px;
    color: orange;
}

.header{
    text-align: center;
    border-bottom: 2px solid #08202e;
    padding-bottom: 15px;
}

.bg-dark {
    background-color: #040b18 !important;
}

.blog .card {

    border-radius: 0;
    border: 0;
    background: rgba(255,255,255,0.06);
    margin-bottom: 20px;

    transition: background 0.25s;
    cursor: pointer;
}
.blog .card:hover {
    background: rgba(255,255,255,0.1);
    transition: background 0.25s;
}

.blog .card .card-block {
    padding: 1.1rem;
    min-height: 160px;
    background-color: #040b18 !important;
}
.blog .card .card-block .category {
    text-transform: uppercase;
    margin-bottom: 0.4rem;
    background-color: #189cd5;
    color: #fff;
    font-weight: 500;
    line-height: 100%;
    font-size: 12px;
    width: fit-content;
    padding: 4px 8px 2px;
    letter-spacing: 0.06rem;
}
.blog .card .card-block .card-title {
    color: orange;
    font-size: 19px;
    line-height: 1.8rem;
    margin-bottom: 0.4rem;
}





.cta-100 {
    margin-top: 10px;
    padding-left: 1%;
    padding-top: 7%;
}
.col-md-4{
    padding-bottom:20px;
}

.white {
    color: #fff !important;
}
.mt{float: left;margin-top: -20px;padding-top: 20px;}
.bg-blue-ui {
    background-color: #708198 !important;
}
figure img{width:300px;}

.pd-2{
    padding:2%;
}
.pd-r-2{
    padding-right:2%;
}
.pd-l-2{
    padding-left:2%;
}
.pd-t-2{
    padding-top:2%;
}
.pd-b-2{
    padding-bottom:2%;
}

#accordion li{
    list-style:one;
}
div[data-toggle="collapse"]{
    border-bottom:1px solid #BBDEFB;
    width:100%;
    cursor:pointer;
    padding:1%;
}
/*.collapse{*/
    /*background:#F5F5F5;*/
/*}*/


.header-title
{
    text-align: center;
    color:#00bfff;
}

#tip
{
    display:none;
}

.fadeIn
{
    animation-duration: 3s;
}

.form-control
{
    border-radius:0px;
    border:1px solid #EDEDED;
}

.form-control:focus
{
    border:1px solid #00bfff;
}

.textarea-contact
{
    resize:none;
}

.btn-send
{
    border-radius: 0px;
    border:1px solid #00bfff;
    background:#00bfff;
    color:#fff;
}

.btn-send:hover
{
    border:1px solid #00bfff;
    background:#fff;
    color:#00bfff;
    transition:background 0.5s;
}

.second-portion
{
    margin-top:50px;
}

.nav-tabs li a{
    color: orange;
    text-transform: uppercase;
}

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #00bfff; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #222; font-weight: 700; }
.box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
.box .space { height: 30px; }

@media only screen and (max-width: 768px)
{
    .contact-form
    {
        margin-top:25px;
    }

    .btn-send
    {
        width: 100%;
        padding:10px;
    }

    .second-portion
    {
        margin-top:25px;
    }
}





.item-carousel-blog-block {
    outline: medium none;
    padding: 15px;
}

.item-box-blog {
    border: 1px solid #dadada;
    text-align: center;
    z-index: 4;
    padding: 20px;
}

.item-box-blog-image {
    position: relative;
}

.item-box-blog-image figure img {
    width: 100%;
    height: auto;
}

.item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 4px 20px;
    top: -20px;
    right: 8px;
    background-color: #41cb52;
}

.item-box-blog-date span {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.2;
}

.item-box-blog-date span.mon {
    font-size: 18px;
}

.item-box-blog-date span.day {
    font-size: 16px;
}

.item-box-blog-body {
    padding: 10px;
}

.item-heading-blog a h5 {
    margin: 0;
    line-height: 1;
    text-decoration:none;
    transition: color 0.3s;
}

.item-box-blog-heading a {
    text-decoration: none;
}

.item-box-blog-data p {
    font-size: 13px;
}

.item-box-blog-data p i {
    font-size: 12px;
}

.item-box-blog-text {
    max-height: 100px;
    overflow: hidden;
}

.mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
}

.btn.bg-blue-ui.white.read {
    cursor: pointer;
    padding: 4px 20px;
    float: left;
    margin-top: 10px;
}

.btn.bg-blue-ui.white.read:hover {
    box-shadow: 0px 5px 15px inset #4d5f77;
}


.footer { background-color: #08202e; padding-top: 40px; color: #636e74; font-weight: 400; font-size: 17px; }
.footer-line { border-color: #152e3d; }
.footer-widget { padding-bottom: 50px; }
.footer-title { font-size: 24px; font-weight: 600; padding-bottom: 11px; margin-bottom: 24px; color: #fff; border-bottom: 1px dashed whitesmoke; }
.footer-widget ul li a { text-transform: capitalize; font-size: 17px; color: #636e74; display: block; font-weight: 300; }
.footer-widget ul li a:hover { color: #fff; }
.newsletter-form { padding-top: 15px; }
.newsletter-form .form-control { background-color: #1e2e38; border-color: #1e2e38; }
.newsletter-form .form-control:focus { color: #fff; }
.newsletter-form input::-webkit-input-placeholder { color: #fff !important; }
.newsletter-form input:focus::-webkit-input-placeholder { color: #fff !important; }


.tiny-footer { font-size: 14px; padding: 14px 0px; font-weight: 600; background-color: transparent; border-top: 1px solid #152e3d; color: #888d90; line-height: 1; }


.blog-grids {
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
    margin: 0 -15px;
    padding-top: 15px;
    padding-bottom: 25px;
}

.blog-grids .grid {
    background-color: #fff;
    width: calc(99% - 30px);
    float: left;
    padding: 15px;
    margin: 10px 15px 0px 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.entry-media img {
    border-radius: 7px;
    width: 100%;
    max-height: 100px;
}

.entry-body {
    padding: 27px 10px;
}

.entry-body .cat {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #6220d9;
    text-transform: uppercase;
}

.entry-body h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.30em;
    margin: 1px 0 0.73em;
    margin-top: -10px;
}

.entry-body h3 a {
    color: #41516a;
}

.entry-body h3 a:hover {
    color: #6220d9;
    text-decoration: none;
}

.entry-body p {
    margin-bottom: 2em;
    color: #90949a;
    line-height: 1.8em;
}

.read-more-date {
    position: relative;
}

.read-more-date a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-size: 1.06667rem;
    font-weight: 600;
    color: #41516a;
    text-transform: uppercase;
}

.read-more-date .date {
    position: absolute;
    right: 0;
    color: #90949a;
}
